<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [4]:
import csv
from collections import namedtuple   # Convenient to store the data rows
import pandas as pd
DATA_FILE = './data/chipotle.tsv'

In [109]:
file_nested_list = pd.read_csv(DATA_FILE, sep='\t')
file_nested_list.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [110]:
# this is one way to get header column names
headers = file_nested_list.columns
# we can reimport the csv file with header = None so that column names will be in row index 0 
file_nested_list = pd.read_csv(DATA_FILE, sep='\t', header=None)
# then we can easily separate header row from data rows by dateframe manupilations
header = file_nested_list.iloc[0]
file_nested_list_data = file_nested_list.iloc[1:]
print(header)
file_nested_list_data.head(10)

0              order_id
1              quantity
2             item_name
3    choice_description
4            item_price
Name: 0, dtype: object

,0,1,2,3,4
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
6,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
7,3,1,Side of Chips,NaN,$1.69
8,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
9,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
10,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [10]:
# reimport to get the original dataframe
file_nested_list = pd.read_csv(DATA_FILE, sep='\t')
file_nested_list.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [188]:
# quantity should NOT be relevant sicne it is per order
file_nested_list.quantity.value_counts()

1     4355
2      224
3       28
4       10
15       1
7        1
10       1
5        1
8        1
Name: quantity, dtype: int64

In [189]:
#check if there are null values in price column
file_nested_list.item_price.value_counts()
file_nested_list.item_price.isnull().mean()
file_nested_list.item_price.dtypes
#convert string to float and eliminate '$' sign
file_nested_list.item_price = file_nested_list.item_price.replace(regex=['^.'], value=[''])
file_nested_list.item_price = file_nested_list.item_price.astype(float)

In [190]:
file_nested_list.item_price.mean()

7.464335785374397

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [191]:
file_nested_list.item_name.value_counts()
mask = file_nested_list.item_name.isin(['Canned Soda','Canned Soft Drink'])
file_nested_list.choice_description.value_counts()
unique_sodas_list = []
for i in file_nested_list[mask].choice_description.index:
    unique_sodas_list.append(file_nested_list.loc[i,'choice_description'])
unique_sodas = set(unique_sodas_list)

In [67]:
unique_sodas

{'[Coca Cola]',
 '[Coke]',
 '[Diet Coke]',
 '[Diet Dr. Pepper]',
 '[Dr. Pepper]',
 '[Lemonade]',
 '[Mountain Dew]',
 '[Nestea]',
 '[Sprite]'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [192]:
# there are duplicate items that shall be combined later
file_nested_list.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [222]:
mask = file_nested_list.item_name.isin(['Chicken Burrito','Steak Burrito','Veggie Burrito','Barbacoa Burrito','Carnitas Burrito','Burrito'])

In [223]:
# check the choice_descriptions column and see the toppings are all strings
burrito_toppings = file_nested_list[mask].choice_description
burrito_toppings.dtypes

dtype('O')

In [195]:
# detailed of the toppings are strings of nested brackets we have parse out
burrito_toppings.value_counts()

[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                                      24
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                             18
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                    18
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                         18
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]]                                                15
                                                                                                          ..
[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Cheese, Sour Cream, Guacamole]]               1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Black Beans, Sour Cream, Guacamole, Lettuce]]               1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]                      1
[Fresh Tomato Salsa, [Cheese, Sour Cream]]                                                                 1
[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, Cheese, Lettuce]]     1
Name: choice_description, Length: 573, dtype: int64

In [308]:
# The entries in burrito_toppings column are strings
type(burrito_toppings.iloc[0])
# first strip out brackets and split string into list we can work with
toppings = burrito_toppings.str.strip('[ ]').str.split(',')
# redesign reduce dataframe so index can be reset
df = pd.DataFrame(toppings)
df = df.reset_index(drop=True)
# each entry in choice_description series is a list, the leftover '[' can be removed by replace()
df.choice_description.iloc[0]
df.choice_description.iloc[0][1].replace(' [', ' ')
# remove the leftover '['
bad_char = '['
for i in df.index:
    for j in range(len(df.choice_description.iloc[i])):
        # find the string that contains '[' on its second character
        if df.choice_description.iloc[i][j][1] == '[':
            # remove the '['
            df.choice_description.iloc[i][j] = df.choice_description.iloc[i][j].replace(' [', ' ') 
    df.loc[i,'topping_count'] = len(df.choice_description.iloc[i])
#check to make all bad char are removed   
#df.choice_description.iloc[0]  
df.topping_count
df.topping_count.mean()

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [1]:
#make two lists of item_names that is either true item_names of chips or one including duplicates
chip_orders = ['Chips and Guacamole','Chips','Chips and Fresh Tomato Salsa','Side of Chips','Chips and Tomatillo Red Chili Salsa','Chips and Tomatillo Green Chili Salsa','Chips and Roasted Chili Corn Salsa','Chips and Mild Fresh Tomato Salsa']
chip_orders_all = ['Chips and Guacamole','Chips','Chips and Fresh Tomato Salsa','Side of Chips','Chips and Tomatillo Red Chili Salsa','Chips and Tomatillo Green Chili Salsa','Chips and Roasted Chili Corn Salsa','Chips and Mild Fresh Tomato Salsa','Chips and Tomatillo-Green Chili Salsa','Chips and Tomatillo-Red Chili Salsa','Chips and Roasted Chili-Corn Salsa']

In [89]:
# filter out original df into chip related new df
file_nested_list
# drop columns that are not useful in this work
df_new = file_nested_list.drop(['item_price','order_id','choice_description'],axis=1)
df_new = df_new[df_new.item_name.isin(chip_orders_all)]
df_new
# make another Series that is the one with duplicates
extra=df_new[df_new.quantity > 1]
extra = extra.reset_index(drop=True)
extra1 = extra.drop(['quantity'],axis=1)
extra1
# make another Series that only contain single quantity orders
one_order = df_new[df_new.quantity == 1]
one_order = one_order.drop(['quantity'],axis=1)
one_order = one_order.reset_index(drop=True)
one_order
# for each order with quantity > 1, add additional row(s) to the dataframe
for i in extra.index:
    if extra.loc[i,'quantity'] == 2:
        one_order = one_order.append(extra1.iloc[i])
#         one_order= pd.concat([one_order, extra1.iloc[i]],ignore_index=True)
    elif extra.loc[i,'quantity'] == 3:
        for j in range(3-1):
            one_order = one_order.append(extra1.iloc[i])
#             one_order= pd.concat([one_order, extra1.iloc[i]],ignore_index=True)
    elif extra.loc[i,'quantity'] == 4:
        for j in range(4-1):
            one_order = one_order.append(extra1.iloc[i])
#             one_order= pd.concat([one_order, extra1.iloc[i]],ignore_index=True)
    elif extra.loc[i,'quantity'] == 8:
        for j in range(8-1):
            one_order = one_order.append(extra1.iloc[i])
#             one_order= pd.concat([one_order, extra1.iloc[i]],ignore_index=True)
    elif extra.loc[i,'quantity'] == 15:
        for j in range(15-1):
            one_order = one_order.append(extra1.iloc[i])
#             one_order= pd.concat([one_order, extra1.iloc[i]],ignore_index=True)
# Finally the one_order series have all duplicates flatten out as additional rows
one_order
#now we can use the buildin functions to obtain statistics of the new dataframe one_order
#print(df_new.quantity.value_counts())
series = one_order.item_name.value_counts()
dict = {}
for chip in series.index:
    # cleaned up shorter chip order names
    if chip in chip_orders:
        dict[chip] = series[chip]
    elif chip == 'Chips and Tomatillo-Green Chili Salsa':
        # combine and the chip order items that are duplicated
        dict['Chips and Tomatillo Green Chili Salsa'] += series[chip]
    elif chip == 'Chips and Tomatillo-Red Chili Salsa':
        dict['Chips and Tomatillo Red Chili Salsa'] += series[chip]
    elif chip == 'Chips and Roasted Chili-Corn Salsa':
        dict['Chips and Roasted Chili Corn Salsa'] += series[chip]
dict

{'Chips and Guacamole': 482,
 'Chips': 212,
 'Chips and Fresh Tomato Salsa': 125,
 'Side of Chips': 108,
 'Chips and Tomatillo Red Chili Salsa': 70,
 'Chips and Tomatillo Green Chili Salsa': 74,
 'Chips and Roasted Chili Corn Salsa': 40,
 'Chips and Mild Fresh Tomato Salsa': 1}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

I did both Chipotle and imdb so had enough fun and will pass this one