<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

In [11]:
# Enter Student names here:
student_names = ['Tom', 'Anthony', 'David', 'Leah', 'Jake', 'Joe', 'George', 'Allison', 'Dan', 'Ed']

---

### 1) What are the types of the following variables?

In [4]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [6]:
# A:
type(a), type(b), type(c), type(d), type(e), type(f), type(g), type(h), type(i)

(int, float, list, dict, tuple, dict, bool, bool, str)

---

### 2) What is the difference between a "mutable" and an "immutable" object?

# A: mutable object can be changed and the object changes in meomory; immutable object can't be changed, and a copy of the original object can be created in the meomory to represent a new changed object

---

### 3) Print the `student_names` list.

In [12]:
# A:
print(student_names)

['Tom', 'Anthony', 'David', 'Leah', 'Jake', 'Joe', 'George', 'Allison', 'Dan', 'Ed']

---

### 4) Print the names of the first and last students on the list.

In [13]:
# A:
print(student_names[0])
print(student_names[-1])

Tom
Ed

---

### 5) Print the first five names in the `student_names` list.

In [14]:
# A:
print(student_names[:5])

['Tom', 'Anthony', 'David', 'Leah', 'Jake']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [16]:
# A:
combined_name = student_names[8] + ' ' + student_names[9]
print(combined_name)

Dan Ed

---

### 7) Append an animal to the list of animals.

In [18]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [19]:
# A:
animals.append('sheep')

---

### 8) Print the length of the `animals` list.

In [20]:
# A:
print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the length of second animal.

In [21]:
# A:
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [22]:
# A:
float(len(animals[4])/len(animals[1]))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [42]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [43]:
# A1:
print(numbers + animals)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'sheep']

In [46]:
# A2:
numbers = [0., 0.1, 1., 10., 100., 1000.]
for i in animals:
    numbers.append(i)
print(numbers)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'sheep']

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [56]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [57]:
# A:
names.remove('kiefer')
names.insert(2,'tom')
print(names)

['doug', 'billy', 'tom', 'kian', 'sam']

---

### 13) Count the number of times `0` appears in the following list.

In [58]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [60]:
# A:
binary.count(0)

16

---

### 14) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [85]:
# A:
zip_sf = {'sunset':   94122,
          'presidio': 94129,
          'soma':     94105,
          'marina':   94123}
print(zip_sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 15) Get the zip code for `'soma'` and assign it to a variable.

In [65]:
# A:
zip_soma = zip_sf['soma']
zip_soma

94105

---

### 16) Get the keys out of the dictionary.

In [66]:
# A:
zip_sf.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 17) Get the key-value pairs out of the dictionary as a list of tuples.

In [68]:
# A:
zip_list = []
for key, value in zip_sf.items():
    zip_list.append((key, value))
print(zip_list)

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 18) Add The Castro to the dictionary with the zip code 94114.

In [86]:
# A:
zip_sf['castro'] = 94114
print(zip_sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114}

---

### 19) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [71]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [87]:
# A:
zip_sf.update(small)
print(zip_sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 20) Remove the `'sunset'` zip code and assign it to a variable.

In [88]:
# A:
zip_sunset = zip_sf.pop('sunset')
print(zip_sunset)
print(zip_sf)

94122
{'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}